In [3]:
import pandas as pd
import os

In [6]:
melbourne_file_path = "../data/melb_data.csv"

In [50]:
melbourne_data = pd.read_csv(melbourne_file_path)

In [51]:
# Filter rows with missing price values
filtered_melbourne_data = melbourne_data.dropna(axis=0)

In [63]:
filtered_melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.068828e+06,9.751097,3101.947708,2.902034,1.576340,1.573596,471.006940,141.568645,1964.081988,-37.807904,144.990201,7435.489509
std,0.971079,6.751564e+05,5.612065,86.421604,0.970055,0.711362,0.929947,897.449881,90.834824,38.105673,0.075850,0.099165,4337.698917
min,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370,389.000000
25%,2.000000,6.200000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198,4383.750000
50%,3.000000,8.800000e+05,9.000000,3081.000000,3.000000,1.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800,6567.000000
75%,4.000000,1.325000e+06,12.400000,3147.000000,3.000000,2.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700,10175.000000
max,8.000000,9.000000e+06,47.400000,3977.000000,9.000000,8.000000,10.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350,21650.000000

In [64]:
filtered_melbourne_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0

In [65]:
# The variable we want to predict is price
y = filtered_melbourne_data.Price

In [66]:
filtered_melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [56]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']

In [67]:
X = filtered_melbourne_data[melbourne_features]

In [68]:
X.describe()

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
count,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.576340,471.006940,141.568645,1964.081988,-37.807904,144.990201
std,0.971079,0.711362,897.449881,90.834824,38.105673,0.075850,0.099165
min,1.000000,1.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370
25%,2.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198
50%,3.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800
75%,4.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700
max,8.000000,8.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350

In [69]:
X.head()

   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954

In [60]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /Users/christygault/anaconda3/envs/pydata-book/lib/python3.10/site-packages (1.2.2)
Requirement already satisfied: scipy>=1.3.2 in /Users/christygault/anaconda3/envs/pydata-book/lib/python3.10/site-packages (from scikit-learn) (1.9.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/christygault/anaconda3/envs/pydata-book/lib/python3.10/site-packages (from scikit-learn) (1.23.3)
Requirement already satisfied: joblib>=1.1.1 in /Users/christygault/anaconda3/envs/pydata-book/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/christygault/anaconda3/envs/pydata-book/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

### Split into training and testing sets

In [73]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

### Define and fit the model - DECISION TREE

In [61]:
from sklearn.tree import DecisionTreeRegressor

In [74]:
# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [75]:
print("Making predictions for the following 5 houses:")
print(train_X.head())
print("The predictions are")
print(melbourne_model.predict(train_X.head()))

Making predictions for the following 5 houses:
       Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  \
10385      3       1.0     206.0         110.0     1980.0  -37.87107
5805       2       1.0       0.0          73.0     2000.0  -37.85900
8488       2       1.0    2701.0          79.0     2011.0  -37.81090
6672       3       1.0     670.0         116.0     1940.0  -37.81340
776        6       3.0     708.0         275.0     1988.0  -37.91810

       Longtitude
10385   145.04991
5805    144.97670
8488    144.86840
6672    144.87450
776     145.04400
The predictions are
[1060000.  390000.  502000. 1055000. 1900000.]

### Validate the model

In [76]:
from sklearn.metrics import mean_absolute_error

# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

262494.3027759845

In [ ]:
# The mean absolute error is $262,494 .... about a quarter the value of the average house ($1 million)!

### Play with tree depth to find sweet spot between overfitting and underfitting

In [77]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [78]:
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  347380
Max leaf nodes: 50  		 Mean Absolute Error:  258171
Max leaf nodes: 500  		 Mean Absolute Error:  243495
Max leaf nodes: 5000  		 Mean Absolute Error:  254983

In [79]:
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 100  		 Mean Absolute Error:  248734
Max leaf nodes: 200  		 Mean Absolute Error:  250797
Max leaf nodes: 300  		 Mean Absolute Error:  244516
Max leaf nodes: 400  		 Mean Absolute Error:  242906
Max leaf nodes: 500  		 Mean Absolute Error:  243495
Max leaf nodes: 600  		 Mean Absolute Error:  243951
Max leaf nodes: 700  		 Mean Absolute Error:  242954
Max leaf nodes: 800  		 Mean Absolute Error:  244042
Max leaf nodes: 900  		 Mean Absolute Error:  246292
Max leaf nodes: 1000  		 Mean Absolute Error:  247345

Seems like ~400 nodes is the best option.

### Define and fit the model - RANDOM FOREST

In [80]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

191669.7536453626

The random forest worked better than the decision tree, even with just the default parameters.